<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbMvd6MZvz6y8nQ5sjCG27_mPOR5Sfhc0</string>
	<key>GCM_SENDER_ID</key>
	<string>828091702220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nawaFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>nawa-flutter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>nawa-flutter-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828091702220:ios:86e97e3447d0f0f499db69</string>
</dict>
</plist>